<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insa_cvl.orthophonie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Phonology -->
        <activity android:label="@string/title_phono" android:name=".phonology.PhonologyMenuActivity">
        </activity>

        <activity android:label="@string/title_AudioToWordPhono" android:name=".phonology.audioToWordPhono.AudioToWordPhonoActivity">
        </activity>
        <activity android:label="@string/title_AudioToWordPhono" android:name=".phonology.audioToWordPhono.AudioToWordPhonoMenuActivity">
        </activity>

        <activity android:label="@string/title_MemoryPhono" android:name=".phonology.memoryPhono.MemoryPhonoActivity">
        </activity>
        <activity android:label="@string/title_MemoryPhono" android:name=".phonology.memoryPhono.MemoryPhonoMenuActivity">
        </activity>

        <activity android:label="@string/title_PictureToPhonemePhono" android:name=".phonology.pictureToPhonemePhono.PictureToPhonemePhonoActivity">
        </activity>
        <activity android:label="@string/title_PictureToPhonemePhono" android:name=".phonology.pictureToPhonemePhono.PictureToPhonemePhonoMenuActivity">
        </activity>



        <!-- Articulation -->
        <activity android:label="@string/title_arti" android:name=".articulation.DescriptionArtiActivity">
        </activity>

        <activity android:label="niveau articulation" android:name=".articulation.DescriptionArtiLevel"></activity>
        <activity android:label="niveau initial articulation" android:name=".articulation.DescriptionArtiInitiallevel"></activity>
        <activity android:label="niveau median articulation" android:name=".articulation.DescriptionArtiMedianelevel"></activity>
        <activity android:label="niveau final articulation" android:name=".articulation.DescriptionArtiFinallevel"></activity>

        <!-- Visuel -->
        <activity android:label="@string/title_visu" android:name=".visual.VisualMenuActivity">
        </activity>

        <activity android:label="@string/MemorySyllablesVisu" android:name=".visual.memorySyllabesVisu.MemorySyllabesVisuActivity">
        </activity>
        <activity android:label="@string/MemorySyllablesVisu" android:name=".visual.memorySyllabesVisu.MemorySyllabesVisuMenuActivity">
        </activity>


        <!-- Memory -->
        <activity android:label="@string/title_memo" android:name=".memory.MemoryMenuActivity">
        </activity>


    </application>

</manifest>