<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insa_cvl.orthophonie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/title_arti" android:name=".articulation.ArticulationActivity">
        </activity>

        <activity android:label="@string/title_phono" android:name=".phonology.PhonologyMenuActivity">
        </activity>

        <activity android:label="Du son au mot" android:name=".phonology.audioToWordPhono.AudioToWordPhonoActivity">
        </activity>

        <activity android:label="@string/title_phono_menu" android:name=".phonology.audioToWordPhono.AudioToWordPhonoMenuActivity">
        </activity>

        <activity android:label="@string/title_visu" android:name=".visual.VisualActivity">
        </activity>
    </application>

</manifest>