<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insa_cvl.orthophonie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1209988960443824~4847019926"/>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Phonology -->
        <activity android:label="@string/title_phono" android:name=".phonology.PhonologyMenuActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_AudioToWordPhono" android:name=".phonology.audioToWordPhono.AudioToWordPhonoActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_AudioToWordPhono" android:name=".phonology.audioToWordPhono.AudioToWordPhonoMenuActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_MemoryPhono" android:name=".phonology.memoryPhono.MemoryPhonoActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_MemoryPhono" android:name=".phonology.memoryPhono.MemoryPhonoMenuActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_PictureToPhonemePhono" android:name=".phonology.pictureToPhonemePhono.PictureToPhonemePhonoActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_PictureToPhonemePhono" android:name=".phonology.pictureToPhonemePhono.PictureToPhonemePhonoMenuActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_AudioToRhyme" android:name=".phonology.audioToRhymePhono.AudioToRhymeMenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_AudioToRhyme" android:name=".phonology.audioToRhymePhono.AudioToRhymeActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_AudioToSyllablePositionPhono" android:name=".phonology.audioToSyllablePositionPhono.AudioToSyllablePositionPhonoMenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_AudioToSyllablePositionPhono" android:name=".phonology.audioToSyllablePositionPhono.AudioToSyllablePositionPhonoActivty" android:screenOrientation="portrait"></activity>


        <!-- Articulation -->
        <activity android:label="@string/title_arti" android:name=".articulation.DescriptionArtiActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_ArticulationLevel" android:name=".articulation.DescriptionArtiLevel" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_ArticulationSerie" android:name=".articulation.DescriptionArtiSerie" android:screenOrientation="portrait"></activity>

        <!-- Visual -->
        <activity android:label="@string/title_visu" android:name=".visual.VisualMenuActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_MemorySyllablesVisu" android:name=".visual.memorySyllabesVisu.MemorySyllabesVisuActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_MemorySyllablesVisu" android:name=".visual.memorySyllabesVisu.MemorySyllabesVisuMenuActivity" android:screenOrientation="portrait"></activity>

        <activity android:label="@string/title_SearchSyllableVisu" android:name=".visual.searchSyllableVisu.SearchSyllableVisuActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/title_SearchSyllableVisu" android:name=".visual.searchSyllableVisu.SearchSyllableVisuMenuActivity" android:screenOrientation="portrait"></activity>

        <!-- Memory -->
        <activity android:label="@string/title_memo" android:name=".memory.MemoryMenuActivity" android:screenOrientation="portrait"></activity>

    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>